#PA001 {
  font-weight: 500;
  padding-left: 30px;
  background-image: url("/Content/images/PositiveAlertIcon.png");
  background-repeat: no-repeat;
  line-height: 22px; }

#PA002 {
  font-weight: 500;
  padding-left: 30px;
  background-image: url("/Content/images/NegativeAlertIcon.png");
  background-repeat: no-repeat;
  line-height: 22px; }

#PA003 {
  font-weight: 500;
  padding-left: 30px;
  background-image: url("/Content/images/NegativeAlertIcon.png");
  background-repeat: no-repeat;
  line-height: 22px; }

#PA004 {
  font-weight: 500;
  padding-left: 30px;
  background-image: url("/Content/images/NegativeAlertIcon.png");
  background-repeat: no-repeat;
  line-height: 22px; }

#PA005 {
  font-weight: 500;
  padding-left: 30px;
  background-image: url("/Content/images/NegativeAlertIcon.png");
  background-repeat: no-repeat;
  line-height: 22px; }

#PA008 {
  font-weight: 500;
  padding-left: 30px;
  background-image: url("/Content/images/omx/NegativeAlertIcon.png");
  background-repeat: no-repeat;
  line-height: 22px; }

#PA010 {
  font-weight: 500;
  padding-left: 30px;
  background-image: url("/Content/images/omx/NegativeAlertIcon.png");
  background-repeat: no-repeat;
  line-height: 22px; }

#PA013 {
  font-weight: 500;
  padding-left: 30px;
  background-image: url("/Content/images/omx/NegativeAlertIcon.png");
  background-repeat: no-repeat;
  line-height: 22px; }

#PA014 {
  font-weight: 500;
  padding-left: 30px;
  background-image: url("/Content/images/omx/NegativeAlertIcon.png");
  background-repeat: no-repeat;
  line-height: 22px; }

#PA108 {
  font-weight: 500;
  padding-left: 30px;
  background-image: url("/Content/images/omx/NegativeAlertIcon.png");
  background-repeat: no-repeat;
  line-height: 22px; }
