.container,
.container-fixed {
  margin-left: auto;
  margin-right: auto; }

.container,
.container-fixed,
.row {
  clear: both; }

.container,
.container-fixed,
[class^="col"] {
  padding-right: 15px;
  padding-left: 15px; }

.container,
[class^="col"] {
  width: 100%; }

.container-fixed {
  width: 970px; }

.row {
  margin-right: -15px;
  margin-left: -15px; }

[class^="col"] {
  float: left; }

.col-xs-1 {
  float: left;
  padding-left: 15px;
  padding-right: 15px;
  width: 8.3333333333%; }

.col-xs-2 {
  float: left;
  padding-left: 15px;
  padding-right: 15px;
  width: 16.6666666667%; }

.col-xs-3 {
  float: left;
  padding-left: 15px;
  padding-right: 15px;
  width: 25%; }

.col-xs-4 {
  float: left;
  padding-left: 15px;
  padding-right: 15px;
  width: 33.3333333333%; }

.col-xs-5 {
  float: left;
  padding-left: 15px;
  padding-right: 15px;
  width: 41.6666666667%; }

.col-xs-6 {
  float: left;
  padding-left: 15px;
  padding-right: 15px;
  width: 50%; }

.col-xs-7 {
  float: left;
  padding-left: 15px;
  padding-right: 15px;
  width: 58.3333333333%; }

.col-xs-8 {
  float: left;
  padding-left: 15px;
  padding-right: 15px;
  width: 66.6666666667%; }

.col-xs-9 {
  float: left;
  padding-left: 15px;
  padding-right: 15px;
  width: 75%; }

.col-xs-10 {
  float: left;
  padding-left: 15px;
  padding-right: 15px;
  width: 83.3333333333%; }

.col-xs-11 {
  float: left;
  padding-left: 15px;
  padding-right: 15px;
  width: 91.6666666667%; }

.col-xs-12 {
  float: left;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%; }

.push-xs-0 {
  left: 0%; }

.pull-xs-0 {
  right: 0%; }

.col-xs-offset-0 {
  margin-left: 0%; }

.push-xs-1 {
  left: 8.3333333333%; }

.pull-xs-1 {
  right: 8.3333333333%; }

.col-xs-offset-1 {
  margin-left: 8.3333333333%; }

.push-xs-2 {
  left: 16.6666666667%; }

.pull-xs-2 {
  right: 16.6666666667%; }

.col-xs-offset-2 {
  margin-left: 16.6666666667%; }

.push-xs-3 {
  left: 25%; }

.pull-xs-3 {
  right: 25%; }

.col-xs-offset-3 {
  margin-left: 25%; }

.push-xs-4 {
  left: 33.3333333333%; }

.pull-xs-4 {
  right: 33.3333333333%; }

.col-xs-offset-4 {
  margin-left: 33.3333333333%; }

.push-xs-5 {
  left: 41.6666666667%; }

.pull-xs-5 {
  right: 41.6666666667%; }

.col-xs-offset-5 {
  margin-left: 41.6666666667%; }

.push-xs-6 {
  left: 50%; }

.pull-xs-6 {
  right: 50%; }

.col-xs-offset-6 {
  margin-left: 50%; }

.push-xs-7 {
  left: 58.3333333333%; }

.pull-xs-7 {
  right: 58.3333333333%; }

.col-xs-offset-7 {
  margin-left: 58.3333333333%; }

.push-xs-8 {
  left: 66.6666666667%; }

.pull-xs-8 {
  right: 66.6666666667%; }

.col-xs-offset-8 {
  margin-left: 66.6666666667%; }

.push-xs-9 {
  left: 75%; }

.pull-xs-9 {
  right: 75%; }

.col-xs-offset-9 {
  margin-left: 75%; }

.push-xs-10 {
  left: 83.3333333333%; }

.pull-xs-10 {
  right: 83.3333333333%; }

.col-xs-offset-10 {
  margin-left: 83.3333333333%; }

.push-xs-11 {
  left: 91.6666666667%; }

.pull-xs-11 {
  right: 91.6666666667%; }

.col-xs-offset-11 {
  margin-left: 91.6666666667%; }

.push-xs-12 {
  left: 100%; }

.pull-xs-12 {
  right: 100%; }

.col-xs-offset-12 {
  margin-left: 100%; }

.col-sm-1 {
  float: left;
  padding-left: 15px;
  padding-right: 15px;
  width: 8.3333333333%; }

.col-sm-2 {
  float: left;
  padding-left: 15px;
  padding-right: 15px;
  width: 16.6666666667%; }

.col-sm-3 {
  float: left;
  padding-left: 15px;
  padding-right: 15px;
  width: 25%; }

.col-sm-4 {
  float: left;
  padding-left: 15px;
  padding-right: 15px;
  width: 33.3333333333%; }

.col-sm-5 {
  float: left;
  padding-left: 15px;
  padding-right: 15px;
  width: 41.6666666667%; }

.col-sm-6 {
  float: left;
  padding-left: 15px;
  padding-right: 15px;
  width: 50%; }

.col-sm-7 {
  float: left;
  padding-left: 15px;
  padding-right: 15px;
  width: 58.3333333333%; }

.col-sm-8 {
  float: left;
  padding-left: 15px;
  padding-right: 15px;
  width: 66.6666666667%; }

.col-sm-9 {
  float: left;
  padding-left: 15px;
  padding-right: 15px;
  width: 75%; }

.col-sm-10 {
  float: left;
  padding-left: 15px;
  padding-right: 15px;
  width: 83.3333333333%; }

.col-sm-11 {
  float: left;
  padding-left: 15px;
  padding-right: 15px;
  width: 91.6666666667%; }

.col-sm-12 {
  float: left;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%; }

.push-sm-0 {
  left: 0%; }

.pull-sm-0 {
  right: 0%; }

.col-sm-offset-0 {
  margin-left: 0%; }

.push-sm-1 {
  left: 8.3333333333%; }

.pull-sm-1 {
  right: 8.3333333333%; }

.col-sm-offset-1 {
  margin-left: 8.3333333333%; }

.push-sm-2 {
  left: 16.6666666667%; }

.pull-sm-2 {
  right: 16.6666666667%; }

.col-sm-offset-2 {
  margin-left: 16.6666666667%; }

.push-sm-3 {
  left: 25%; }

.pull-sm-3 {
  right: 25%; }

.col-sm-offset-3 {
  margin-left: 25%; }

.push-sm-4 {
  left: 33.3333333333%; }

.pull-sm-4 {
  right: 33.3333333333%; }

.col-sm-offset-4 {
  margin-left: 33.3333333333%; }

.push-sm-5 {
  left: 41.6666666667%; }

.pull-sm-5 {
  right: 41.6666666667%; }

.col-sm-offset-5 {
  margin-left: 41.6666666667%; }

.push-sm-6 {
  left: 50%; }

.pull-sm-6 {
  right: 50%; }

.col-sm-offset-6 {
  margin-left: 50%; }

.push-sm-7 {
  left: 58.3333333333%; }

.pull-sm-7 {
  right: 58.3333333333%; }

.col-sm-offset-7 {
  margin-left: 58.3333333333%; }

.push-sm-8 {
  left: 66.6666666667%; }

.pull-sm-8 {
  right: 66.6666666667%; }

.col-sm-offset-8 {
  margin-left: 66.6666666667%; }

.push-sm-9 {
  left: 75%; }

.pull-sm-9 {
  right: 75%; }

.col-sm-offset-9 {
  margin-left: 75%; }

.push-sm-10 {
  left: 83.3333333333%; }

.pull-sm-10 {
  right: 83.3333333333%; }

.col-sm-offset-10 {
  margin-left: 83.3333333333%; }

.push-sm-11 {
  left: 91.6666666667%; }

.pull-sm-11 {
  right: 91.6666666667%; }

.col-sm-offset-11 {
  margin-left: 91.6666666667%; }

.push-sm-12 {
  left: 100%; }

.pull-sm-12 {
  right: 100%; }

.col-sm-offset-12 {
  margin-left: 100%; }

.col-md-1 {
  float: left;
  padding-left: 15px;
  padding-right: 15px;
  width: 8.3333333333%; }

.col-md-2 {
  float: left;
  padding-left: 15px;
  padding-right: 15px;
  width: 16.6666666667%; }

.col-md-3 {
  float: left;
  padding-left: 15px;
  padding-right: 15px;
  width: 25%; }

.col-md-4 {
  float: left;
  padding-left: 15px;
  padding-right: 15px;
  width: 33.3333333333%; }

.col-md-5 {
  float: left;
  padding-left: 15px;
  padding-right: 15px;
  width: 41.6666666667%; }

.col-md-6 {
  float: left;
  padding-left: 15px;
  padding-right: 15px;
  width: 50%; }

.col-md-7 {
  float: left;
  padding-left: 15px;
  padding-right: 15px;
  width: 58.3333333333%; }

.col-md-8 {
  float: left;
  padding-left: 15px;
  padding-right: 15px;
  width: 66.6666666667%; }

.col-md-9 {
  float: left;
  padding-left: 15px;
  padding-right: 15px;
  width: 75%; }

.col-md-10 {
  float: left;
  padding-left: 15px;
  padding-right: 15px;
  width: 83.3333333333%; }

.col-md-11 {
  float: left;
  padding-left: 15px;
  padding-right: 15px;
  width: 91.6666666667%; }

.col-md-12 {
  float: left;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%; }

.push-md-0 {
  left: 0%; }

.pull-md-0 {
  right: 0%; }

.col-md-offset-0 {
  margin-left: 0%; }

.push-md-1 {
  left: 8.3333333333%; }

.pull-md-1 {
  right: 8.3333333333%; }

.col-md-offset-1 {
  margin-left: 8.3333333333%; }

.push-md-2 {
  left: 16.6666666667%; }

.pull-md-2 {
  right: 16.6666666667%; }

.col-md-offset-2 {
  margin-left: 16.6666666667%; }

.push-md-3 {
  left: 25%; }

.pull-md-3 {
  right: 25%; }

.col-md-offset-3 {
  margin-left: 25%; }

.push-md-4 {
  left: 33.3333333333%; }

.pull-md-4 {
  right: 33.3333333333%; }

.col-md-offset-4 {
  margin-left: 33.3333333333%; }

.push-md-5 {
  left: 41.6666666667%; }

.pull-md-5 {
  right: 41.6666666667%; }

.col-md-offset-5 {
  margin-left: 41.6666666667%; }

.push-md-6 {
  left: 50%; }

.pull-md-6 {
  right: 50%; }

.col-md-offset-6 {
  margin-left: 50%; }

.push-md-7 {
  left: 58.3333333333%; }

.pull-md-7 {
  right: 58.3333333333%; }

.col-md-offset-7 {
  margin-left: 58.3333333333%; }

.push-md-8 {
  left: 66.6666666667%; }

.pull-md-8 {
  right: 66.6666666667%; }

.col-md-offset-8 {
  margin-left: 66.6666666667%; }

.push-md-9 {
  left: 75%; }

.pull-md-9 {
  right: 75%; }

.col-md-offset-9 {
  margin-left: 75%; }

.push-md-10 {
  left: 83.3333333333%; }

.pull-md-10 {
  right: 83.3333333333%; }

.col-md-offset-10 {
  margin-left: 83.3333333333%; }

.push-md-11 {
  left: 91.6666666667%; }

.pull-md-11 {
  right: 91.6666666667%; }

.col-md-offset-11 {
  margin-left: 91.6666666667%; }

.push-md-12 {
  left: 100%; }

.pull-md-12 {
  right: 100%; }

.col-md-offset-12 {
  margin-left: 100%; }

.hidden-md,
.visible-xs,
.visible-sm,
.hidden-ie {
  display: none !important; }

.visible-md,
.hidden-xs,
.hidden-sm {
  display: block !important; }

* {
  background: #fff !important;
  color: #000 !important; }

.print-logos {
  padding: 0 15px;
  display: block; }
  .print-logos .client-logo {
    float: left;
    margin-left: 25px; }
  .print-logos img {
    height: 35px;
    float: left; }

nav,
aside,
.breadcrumbs,
.site-header,
.site-footer,
.subnav-small,
.btn-group {
  display: none; }

p,
td,
.btn,
h5,
.h5,
h6,
.h6,
div,
li {
  font-size: 16px !important;
  line-height: 1.4 !important; }

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4 {
  page-break-after: avoid;
  font-size: 18px !important; }

h2,
.h2 {
  font-size: 22px !important; }

h1,
.h1 {
  font-size: 28px !important;
  font-weight: 500 !important; }

img {
  max-width: 100% !important; }

ul,
img,
table,
input,
.cart-item {
  page-break-inside: avoid; }

.btn {
  border: 1px solid #000;
  padding: 5px 10px; }

@page {
  margin: 2cm; }
.table-controls-wrapper {
  height: auto;
  overflow: visible; }

img {
  max-width: 500px !important; }

.cart-item img {
  max-width: 100px !important; }

input,
.custom-select {
  max-width: 200px !important; }

.visible-print-block {
  display: block !important; }

.visible-print-inline {
  display: inline !important; }

.visible-print-inline-block {
  display: inline-block !important; }

.hidden-print {
  display: none !important; }

hr {
  border-top: 1px solid black !important; }

.table-controls-wrapper {
  overflow: visible;
  overflow-x: auto;
  height: auto;
  max-height: 100%; }
