
#DIV_1 {
    box-sizing: border-box;
    height: 169px;
    overflow-wrap: break-word;
    text-size-adjust: 100%;
    width: 100%;
    perspective-origin: 239px 84.5px;
    transform-origin: 239px 84.5px;
    background: rgb(238, 238, 238) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 0 0 4px 4px;
    font: normal normal 400 normal 14px / 19.6px roboto, sans-serif;
    overflow: auto;
    padding: 15px 15px 0px;
}/*#DIV_1*/

#DIV_1:after {
    overflow-wrap: break-word;
    text-size-adjust: 100%;
    font: normal normal 400 normal 14px / 19.6px roboto, sans-serif;
}/*#DIV_1:after*/

#DIV_1:before {
    overflow-wrap: break-word;
    text-size-adjust: 100%;
    font: normal normal 400 normal 14px / 19.6px roboto, sans-serif;
}/*#DIV_1:before*/

#H3_2 {
    box-sizing: border-box;
    display: none;
    overflow-wrap: break-word;
    text-size-adjust: 100%;
    font: normal normal 400 normal 19px / 22.8px roboto, sans-serif;
    margin: 0px 0px 15px;
}/*#H3_2*/

#H3_2:after {
    overflow-wrap: break-word;
    text-size-adjust: 100%;
    font: normal normal 400 normal 19px / 22.8px roboto, sans-serif;
}/*#H3_2:after*/

#H3_2:before {
    overflow-wrap: break-word;
    text-size-adjust: 100%;
    font: normal normal 400 normal 19px / 22.8px roboto, sans-serif;
}/*#H3_2:before*/

#DIV_3 {
    box-sizing: border-box;
    height: 95px;
    overflow-wrap: break-word;
    text-size-adjust: 100%;
    width: 446px;
    perspective-origin: 223px 47.5px;
    transform-origin: 223px 47.5px;
    font: normal normal 400 normal 14px / 19.6px roboto, sans-serif;
}/*#DIV_3*/

#DIV_3:after {
    overflow-wrap: break-word;
    text-size-adjust: 100%;
    font: normal normal 400 normal 14px / 19.6px roboto, sans-serif;
}/*#DIV_3:after*/

#DIV_3:before {
    overflow-wrap: break-word;
    text-size-adjust: 100%;
    font: normal normal 400 normal 14px / 19.6px roboto, sans-serif;
}/*#DIV_3:before*/

#DIV_4 {
    box-sizing: border-box;
    clear: both;
    height: 24px;
    overflow-wrap: break-word;
    text-size-adjust: 100%;
    width: 476px;
    perspective-origin: 238px 12px;
    transform-origin: 238px 12px;
    font: normal normal 400 normal 14px / 19.6px roboto, sans-serif;
    margin: 0px -15px;
    overflow: hidden;
}/*#DIV_4*/

#DIV_4:after {
    overflow-wrap: break-word;
    text-size-adjust: 100%;
    font: normal normal 400 normal 14px / 19.6px roboto, sans-serif;
}/*#DIV_4:after*/

#DIV_4:before {
    overflow-wrap: break-word;
    text-size-adjust: 100%;
    font: normal normal 400 normal 14px / 19.6px roboto, sans-serif;
}/*#DIV_4:before*/

#DIV_5 {
    box-sizing: border-box;
    float: left;
    height: 24px;
    overflow-wrap: break-word;
    text-size-adjust: 100%;
    width: 158.656px;
    perspective-origin: 79.3281px 12px;
    transform-origin: 79.3281px 12px;
    font: normal normal 400 normal 14px / 19.6px roboto, sans-serif;
    padding: 0px 15px;
}/*#DIV_5*/

#DIV_5:after {
    overflow-wrap: break-word;
    text-size-adjust: 100%;
    font: normal normal 400 normal 14px / 19.6px roboto, sans-serif;
}/*#DIV_5:after*/

#DIV_5:before {
    overflow-wrap: break-word;
    text-size-adjust: 100%;
    font: normal normal 400 normal 14px / 19.6px roboto, sans-serif;
}/*#DIV_5:before*/

#H5_6 {
    box-sizing: border-box;
    height: 16px;
    overflow-wrap: break-word;
    text-size-adjust: 100%;
    width: 128.656px;
    perspective-origin: 64.3281px 8px;
    transform-origin: 64.3281px 8px;
    font: normal normal 500 normal 14px / 16.8px roboto, sans-serif;
    margin: 0px 0px 8px;
}/*#H5_6*/

#H5_6:after {
    overflow-wrap: break-word;
    text-size-adjust: 100%;
    font: normal normal 500 normal 14px / 16.8px roboto, sans-serif;
}/*#H5_6:after*/

#H5_6:before {
    overflow-wrap: break-word;
    text-size-adjust: 100%;
    font: normal normal 500 normal 14px / 16.8px roboto, sans-serif;
}/*#H5_6:before*/

#DIV_7 {
    box-sizing: border-box;
    float: left;
    height: 24px;
    overflow-wrap: break-word;
    text-size-adjust: 100%;
    width: 119px;
    perspective-origin: 59.5px 12px;
    transform-origin: 59.5px 12px;
    font: normal normal 400 normal 14px / 19.6px roboto, sans-serif;
    padding: 0px 15px;
}/*#DIV_7*/

#DIV_7:after {
    overflow-wrap: break-word;
    text-size-adjust: 100%;
    font: normal normal 400 normal 14px / 19.6px roboto, sans-serif;
}/*#DIV_7:after*/

#DIV_7:before {
    overflow-wrap: break-word;
    text-size-adjust: 100%;
    font: normal normal 400 normal 14px / 19.6px roboto, sans-serif;
}/*#DIV_7:before*/

#H5_8 {
    box-sizing: border-box;
    height: 16px;
    overflow-wrap: break-word;
    text-size-adjust: 100%;
    width: 89px;
    perspective-origin: 44.5px 8px;
    transform-origin: 44.5px 8px;
    font: normal normal 500 normal 14px / 16.8px roboto, sans-serif;
    margin: 0px 0px 8px;
}/*#H5_8*/

#H5_8:after {
    overflow-wrap: break-word;
    text-size-adjust: 100%;
    font: normal normal 500 normal 14px / 16.8px roboto, sans-serif;
}/*#H5_8:after*/

#H5_8:before {
    overflow-wrap: break-word;
    text-size-adjust: 100%;
    font: normal normal 500 normal 14px / 16.8px roboto, sans-serif;
}/*#H5_8:before*/

#DIV_9 {
    box-sizing: border-box;
    float: left;
    height: 24px;
    overflow-wrap: break-word;
    text-size-adjust: 100%;
    width: 198.328px;
    perspective-origin: 99.1562px 12px;
    transform-origin: 99.1562px 12px;
    font: normal normal 400 normal 14px / 19.6px roboto, sans-serif;
    padding: 0px 15px;
}/*#DIV_9*/

#DIV_9:after {
    overflow-wrap: break-word;
    text-size-adjust: 100%;
    font: normal normal 400 normal 14px / 19.6px roboto, sans-serif;
}/*#DIV_9:after*/

#DIV_9:before {
    overflow-wrap: break-word;
    text-size-adjust: 100%;
    font: normal normal 400 normal 14px / 19.6px roboto, sans-serif;
}/*#DIV_9:before*/

#H5_10 {
    box-sizing: border-box;
    height: 16px;
    overflow-wrap: break-word;
    text-size-adjust: 100%;
    width: 168.328px;
    perspective-origin: 84.1562px 8px;
    transform-origin: 84.1562px 8px;
    font: normal normal 500 normal 14px / 16.8px roboto, sans-serif;
    margin: 0px 0px 8px;
}/*#H5_10*/

#H5_10:after {
    overflow-wrap: break-word;
    text-size-adjust: 100%;
    font: normal normal 500 normal 14px / 16.8px roboto, sans-serif;
}/*#H5_10:after*/

#H5_10:before {
    overflow-wrap: break-word;
    text-size-adjust: 100%;
    font: normal normal 500 normal 14px / 16.8px roboto, sans-serif;
}/*#H5_10:before*/

#DIV_11 {
    box-sizing: border-box;
    display: none;
    float: left;
    overflow-wrap: break-word;
    text-size-adjust: 100%;
    width: 100%;
    font: normal normal 400 normal 14px / 19.6px roboto, sans-serif;
    padding: 0px 15px;
}/*#DIV_11*/

#DIV_11:after {
    overflow-wrap: break-word;
    text-size-adjust: 100%;
    font: normal normal 400 normal 14px / 19.6px roboto, sans-serif;
}/*#DIV_11:after*/

#DIV_11:before {
    overflow-wrap: break-word;
    text-size-adjust: 100%;
    font: normal normal 400 normal 14px / 19.6px roboto, sans-serif;
}/*#DIV_11:before*/

#H5_12 {
    box-sizing: border-box;
    overflow-wrap: break-word;
    text-size-adjust: 100%;
    font: normal normal 500 normal 14px / 16.8px roboto, sans-serif;
    margin: 0px 0px 8px;
}/*#H5_12*/

#H5_12:after {
    overflow-wrap: break-word;
    text-size-adjust: 100%;
    font: normal normal 500 normal 14px / 16.8px roboto, sans-serif;
}/*#H5_12:after*/

#H5_12:before {
    overflow-wrap: break-word;
    text-size-adjust: 100%;
    font: normal normal 500 normal 14px / 16.8px roboto, sans-serif;
}/*#H5_12:before*/

#DIV_13 {
    box-sizing: border-box;
    height: 71px;
    overflow-wrap: break-word;
    text-size-adjust: 100%;
    width: 446px;
    perspective-origin: 223px 35.5px;
    transform-origin: 223px 35.5px;
    font: normal normal 400 normal 14px / 19.6px roboto, sans-serif;
}/*#DIV_13*/

#DIV_13:after {
    overflow-wrap: break-word;
    text-size-adjust: 100%;
    font: normal normal 400 normal 14px / 19.6px roboto, sans-serif;
}/*#DIV_13:after*/

#DIV_13:before {
    overflow-wrap: break-word;
    text-size-adjust: 100%;
    font: normal normal 400 normal 14px / 19.6px roboto, sans-serif;
}/*#DIV_13:before*/

#DIV_14 {
    box-sizing: border-box;
    clear: both;
    height: 71px;
    overflow-wrap: break-word;
    text-size-adjust: 100%;
    width: 476px;
    perspective-origin: 238px 35.5px;
    transform-origin: 238px 35.5px;
    font: normal normal 400 normal 14px / 19.6px roboto, sans-serif;
    margin: 0px -15px;
    overflow: hidden;
}/*#DIV_14*/

#DIV_14:after {
    overflow-wrap: break-word;
    text-size-adjust: 100%;
    font: normal normal 400 normal 14px / 19.6px roboto, sans-serif;
}/*#DIV_14:after*/

#DIV_14:before {
    overflow-wrap: break-word;
    text-size-adjust: 100%;
    font: normal normal 400 normal 14px / 19.6px roboto, sans-serif;
}/*#DIV_14:before*/

#DIV_15 {
    box-sizing: border-box;
    float: left;
    height: 40px;
    overflow-wrap: break-word;
    text-size-adjust: 100%;
    width: 158.656px;
    perspective-origin: 79.3281px 20px;
    transform-origin: 79.3281px 20px;
    font: normal normal 400 normal 14px / 19.6px roboto, sans-serif;
    padding: 0px 15px;
}/*#DIV_15*/

#DIV_15:after {
    overflow-wrap: break-word;
    text-size-adjust: 100%;
    font: normal normal 400 normal 14px / 19.6px roboto, sans-serif;
}/*#DIV_15:after*/

#DIV_15:before {
    overflow-wrap: break-word;
    text-size-adjust: 100%;
    font: normal normal 400 normal 14px / 19.6px roboto, sans-serif;
}/*#DIV_15:before*/

#INPUT_16 {
    display: block;
    float: left;
    height: 40px;
    overflow-wrap: break-word;
    text-size-adjust: 100%;
    width: 128.656px;
    perspective-origin: 64.3281px 20px;
    transform-origin: 64.3281px 20px;
    border: 2px solid rgb(204, 204, 204);
    border-radius: 4px 4px 4px 4px;
    font: normal normal 400 normal 16px / 22.4px roboto, sans-serif;
    margin: 0px 15px 0px 0px;
    padding: 7px;
}/*#INPUT_16*/

#INPUT_16:after {
    overflow-wrap: break-word;
    text-size-adjust: 100%;
    font: normal normal 400 normal 16px / 22.4px roboto, sans-serif;
}/*#INPUT_16:after*/

#INPUT_16:before {
    overflow-wrap: break-word;
    text-size-adjust: 100%;
    font: normal normal 400 normal 16px / 22.4px roboto, sans-serif;
}/*#INPUT_16:before*/

#DIV_17 {
    box-sizing: border-box;
    float: left;
    height: 40px;
    overflow-wrap: break-word;
    text-size-adjust: 100%;
    width: 119px;
    perspective-origin: 59.5px 20px;
    transform-origin: 59.5px 20px;
    font: normal normal 400 normal 14px / 19.6px roboto, sans-serif;
    padding: 0px 15px;
}/*#DIV_17*/

#DIV_17:after {
    overflow-wrap: break-word;
    text-size-adjust: 100%;
    font: normal normal 400 normal 14px / 19.6px roboto, sans-serif;
}/*#DIV_17:after*/

#DIV_17:before {
    overflow-wrap: break-word;
    text-size-adjust: 100%;
    font: normal normal 400 normal 14px / 19.6px roboto, sans-serif;
}/*#DIV_17:before*/

#INPUT_18 {
    display: block;
    float: left;
    height: 40px;
    overflow-wrap: break-word;
    text-size-adjust: 100%;
    width: 89px;
    perspective-origin: 44.5px 20px;
    transform-origin: 44.5px 20px;
    border: 2px solid rgb(204, 204, 204);
    border-radius: 4px 4px 4px 4px;
    font: normal normal 400 normal 16px / 22.4px roboto, sans-serif;
    margin: 0px 15px 0px 0px;
    padding: 7px;
}/*#INPUT_18*/

#INPUT_18:after {
    overflow-wrap: break-word;
    text-size-adjust: 100%;
    font: normal normal 400 normal 16px / 22.4px roboto, sans-serif;
}/*#INPUT_18:after*/

#INPUT_18:before {
    overflow-wrap: break-word;
    text-size-adjust: 100%;
    font: normal normal 400 normal 16px / 22.4px roboto, sans-serif;
}/*#INPUT_18:before*/

#DIV_19 {
    box-sizing: border-box;
    float: left;
    height: 63px;
    overflow-wrap: break-word;
    text-size-adjust: 100%;
    width: 198.328px;
    perspective-origin: 99.1562px 31.5px;
    transform-origin: 99.1562px 31.5px;
    font: normal normal 400 normal 14px / 19.6px roboto, sans-serif;
    padding: 0px 15px;
}/*#DIV_19*/

#DIV_19:after {
    overflow-wrap: break-word;
    text-size-adjust: 100%;
    font: normal normal 400 normal 14px / 19.6px roboto, sans-serif;
}/*#DIV_19:after*/

#DIV_19:before {
    overflow-wrap: break-word;
    text-size-adjust: 100%;
    font: normal normal 400 normal 14px / 19.6px roboto, sans-serif;
}/*#DIV_19:before*/

#DIV_20 {
    bottom: 0px;
    height: 28px;
    left: 0px;
    overflow-wrap: break-word;
    position: relative;
    right: 0px;
    text-size-adjust: 100%;
    top: 0px;
    width: 154.328px;
    perspective-origin: 84.1562px 21px;
    transform-origin: 84.1562px 21px;
    background: rgb(255, 255, 255) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 2px solid rgb(204, 204, 204);
    border-radius: 4px 4px 4px 4px;
    font: normal normal 400 normal 14px / 19.6px roboto, sans-serif;
    margin: 0px 0px 21px;
    padding: 5px;
}/*#DIV_20*/

#DIV_20:after {
    bottom: 6px;
    color: rgb(103, 103, 103);
    content: '"ï„‡"';
    display: block;
    height: 28px;
    left: 144.828px;
    overflow-wrap: break-word;
    pointer-events: none;
    position: absolute;
    right: 7px;
    text-decoration: none solid rgb(103, 103, 103);
    text-size-adjust: 100%;
    top: 4px;
    width: 12.5px;
    column-rule-color: rgb(103, 103, 103);
    perspective-origin: 6.25px 14px;
    transform-origin: 6.25px 14px;
    caret-color: rgb(103, 103, 103);
    border: 0px none rgb(103, 103, 103);
    font: normal normal 400 normal 20px / 28px "Font Awesome 5 Pro";
    outline: rgb(103, 103, 103) none 0px;
}/*#DIV_20:after*/

#DIV_20:before {
    overflow-wrap: break-word;
    text-size-adjust: 100%;
    font: normal normal 400 normal 14px / 19.6px roboto, sans-serif;
}/*#DIV_20:before*/

#SELECT_21 {
    bottom: 0px;
    display: block;
    height: 38px;
    left: 0px;
    overflow-wrap: break-word;
    position: absolute;
    right: 0px;
    text-size-adjust: 100%;
    top: 0px;
    width: 164.328px;
    perspective-origin: 82.1562px 19px;
    transform-origin: 82.1562px 19px;
    background: rgba(0, 0, 0, 0) none repeat scroll 0% 0% / auto padding-box border-box;
    font: normal normal 400 normal 16px / 38px roboto, sans-serif;
    padding: 0px 24px 0px 7px;
}/*#SELECT_21*/

#SELECT_21:after {
    overflow-wrap: break-word;
    text-size-adjust: 100%;
    font: normal normal 400 normal 16px / 38px roboto, sans-serif;
}/*#SELECT_21:after*/

#SELECT_21:before {
    overflow-wrap: break-word;
    text-size-adjust: 100%;
    font: normal normal 400 normal 16px / 38px roboto, sans-serif;
}/*#SELECT_21:before*/

#DIV_22 {
    box-sizing: border-box;
    float: left;
    height: 8px;
    overflow-wrap: break-word;
    text-size-adjust: 100%;
    width: 476px;
    perspective-origin: 238px 4px;
    transform-origin: 238px 4px;
    font: normal normal 400 normal 14px / 19.6px roboto, sans-serif;
    padding: 0px 15px;
}/*#DIV_22*/

#DIV_22:after {
    overflow-wrap: break-word;
    text-size-adjust: 100%;
    font: normal normal 400 normal 14px / 19.6px roboto, sans-serif;
}/*#DIV_22:after*/

#DIV_22:before {
    overflow-wrap: break-word;
    text-size-adjust: 100%;
    font: normal normal 400 normal 14px / 19.6px roboto, sans-serif;
}/*#DIV_22:before*/

#DIV_23 {
    box-sizing: border-box;
    height: 0px;
    overflow-wrap: break-word;
    text-size-adjust: 100%;
    width: 446px;
    perspective-origin: 223px 0px;
    transform-origin: 223px 0px;
    font: normal normal 400 normal 14px / 19.6px roboto, sans-serif;
}/*#DIV_23*/

#DIV_23:after {
    overflow-wrap: break-word;
    text-size-adjust: 100%;
    font: normal normal 400 normal 14px / 19.6px roboto, sans-serif;
}/*#DIV_23:after*/

#DIV_23:before {
    overflow-wrap: break-word;
    text-size-adjust: 100%;
    font: normal normal 400 normal 14px / 19.6px roboto, sans-serif;
}/*#DIV_23:before*/

#H5_24 {
    box-sizing: border-box;
    height: 0px;
    overflow-wrap: break-word;
    text-size-adjust: 100%;
    width: 446px;
    perspective-origin: 223px 0px;
    transform-origin: 223px 0px;
    font: normal normal 500 normal 14px / 16.8px roboto, sans-serif;
    margin: 0px 0px 8px;
}/*#H5_24*/

#H5_24:after {
    overflow-wrap: break-word;
    text-size-adjust: 100%;
    font: normal normal 500 normal 14px / 16.8px roboto, sans-serif;
}/*#H5_24:after*/

#H5_24:before {
    overflow-wrap: break-word;
    text-size-adjust: 100%;
    font: normal normal 500 normal 14px / 16.8px roboto, sans-serif;
}/*#H5_24:before*/

#DIV_25 {
    box-sizing: border-box;
    clear: both;
    height: 51px;
    overflow-wrap: break-word;
    text-size-adjust: 100%;
    width: 476px;
    perspective-origin: 238px 25.5px;
    transform-origin: 238px 25.5px;
    font: normal normal 400 normal 14px / 19.6px roboto, sans-serif;
    margin: 0px -15px 6px;
    overflow: auto;
}/*#DIV_25*/

#DIV_25:after {
    overflow-wrap: break-word;
    text-size-adjust: 100%;
    font: normal normal 400 normal 14px / 19.6px roboto, sans-serif;
}/*#DIV_25:after*/

#DIV_25:before {
    overflow-wrap: break-word;
    text-size-adjust: 100%;
    font: normal normal 400 normal 14px / 19.6px roboto, sans-serif;
}/*#DIV_25:before*/

#DIV_26 {
    box-sizing: border-box;
    float: left;
    height: 51px;
    overflow-wrap: break-word;
    text-size-adjust: 100%;
    width: 476px;
    perspective-origin: 238px 25.5px;
    transform-origin: 238px 25.5px;
    font: normal normal 400 normal 14px / 19.6px roboto, sans-serif;
    padding: 0px 15px;
}/*#DIV_26*/

#DIV_26:after {
    overflow-wrap: break-word;
    text-size-adjust: 100%;
    font: normal normal 400 normal 14px / 19.6px roboto, sans-serif;
}/*#DIV_26:after*/

#DIV_26:before {
    overflow-wrap: break-word;
    text-size-adjust: 100%;
    font: normal normal 400 normal 14px / 19.6px roboto, sans-serif;
}/*#DIV_26:before*/

#BUTTON_27 {
    color: rgb(255, 255, 255);
    cursor: pointer;
    display: block;
    float: left;
    height: 36px;
    min-height: 0px;
    overflow-wrap: break-word;
    text-decoration: none solid rgb(255, 255, 255);
    text-size-adjust: 100%;
    touch-action: manipulation;
    width: 446px;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 223px 18px;
    transform-origin: 223px 18px;
    caret-color: rgb(255, 255, 255);
    background: rgb(0, 112, 0) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 2px solid rgb(0, 112, 0);
    border-radius: 4px 4px 4px 4px;
    font: normal normal 500 normal 16px / 22.4px roboto, sans-serif;
    margin: 0px 0px 15px;
    outline: rgb(255, 255, 255) none 0px;
    padding: 5px 15px;
    transition: background-color 0.3s ease 0s;
}/*#BUTTON_27*/

#BUTTON_27:after {
    color: rgb(255, 255, 255);
    cursor: pointer;
    overflow-wrap: break-word;
    text-decoration: none solid rgb(255, 255, 255);
    text-size-adjust: 100%;
    column-rule-color: rgb(255, 255, 255);
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: normal normal 500 normal 16px / 22.4px roboto, sans-serif;
    outline: rgb(255, 255, 255) none 0px;
}/*#BUTTON_27:after*/

#BUTTON_27:before {
    color: rgb(255, 255, 255);
    cursor: pointer;
    overflow-wrap: break-word;
    text-decoration: none solid rgb(255, 255, 255);
    text-size-adjust: 100%;
    column-rule-color: rgb(255, 255, 255);
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: normal normal 500 normal 16px / 22.4px roboto, sans-serif;
    outline: rgb(255, 255, 255) none 0px;
}/*#BUTTON_27:before*/

#sum{
    margin-top: 5px;
    padding:5px;
    text-align: left;
    width: 100%;
    border: solid #cccccc;
    border-width: thin;
}

