$primary-green: #007000;

.list-group{
    .list-group-item{
        color:$primary-green;
        text-decoration: none;
    }

}


.modal-header{
    .modal-title{
        position: absolute;
        vertical-align: middle;
        line-height: 20px; 
        margin-left: 150px;
        margin-right: 150px;
    }
}